<% if @contact.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <ul>
<% end %>

<%= form_for @contact do |f| %>
  <%= f.text_field :name, placeholder: 'name' %><br>
  <%= f.text_field :phone, placeholder: 'phone' %><br>
  <%= f.text_field :email, placeholder: 'email' %><br>
  <%= f.submit 'Submit', :class => 'btn btn-success' %>
<% end %>